{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

    {% if request.GET.tag %}
        <h4>Showing pages tagged "{{ request.GET.tag }}"</h4>
    {% endif %}
    
    <h2>{{ header }}</h2>

    {% for notice in noticepages %}
      {% with notice=notice.specific %}
        <h2><a href="{% pageurl notice %}">{{ notice.title }}</a></h2>
        <p>{{ notice.date }}</p>

      {% endwith %}

    {% empty %}
        No Notice Available.
    {% endfor %}

{% endblock %}
