{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block title %}
  Oppurtunities | AMU LAW SOCIETY
{% endblock %}

{% block content %}
    {% if not tag %}
        {% include "base/include/header-index.html" %}
    {% endif %}

    <div class="container">
        <div class="blog-list">
          {% if oppupages %}
          {% for oppu in oppupages %}
            {% with oppu=oppu.specific %}
                {% include "includes/card/oppu-listing-card.html" %}
            {% endwith %}
          {% endfor %}
          {% else %}
            <div class="col-md-12">
              <p>No Oppurtunities Available Right Now.</p>
            </div>
         {% endif %}
        </div>
    </div>
{% endblock content %}
